{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" href="../static/css/demo.css">

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="">
        Tutubig
    </a>
</nav>

<div class="ui inverted left fixed borderless vertical menu" style="padding-top: 42px;">
    <div style="height: 175px; text-align: center; padding: 14px;">
        <img class="ui middle aligned circular image" src="http://www.raisonance.com/tzr/scripts/resizer.php?filename=T004/img1/31/57/4sc86th2im4e&mime=image%2Fpng&&originalname=analog_devices_logo.png" style="height: 100px; width: 100px; background: white; margin: 14px;">
        <div class="text-light" style="font-weight: bold;">Analog Devices, Inc.</div>
    </div>
    <a class="item">
        <i class="left briefcase icon"></i>
        Profile
    </a>
    <a class="item">
        <i class="left chart line icon"></i>
        Dashboard
    </a>
    <a class="item">
        <i class="left users icon"></i>
        Accounts
    </a>
    <a class="item">
        <i class="left cogs icon"></i>
        Settings
    </a>
</div>

{% block demo %}{% endblock %}

<script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

<script src="../static/js/demo.js"></script>

{% endblock %}