{% extends "layout.html" %}

{% block body %}

<div id="home" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <a class="navbar-brand" href="">
            <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
            Tutubig
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#features">What It Does</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#process">How It Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Who We Are</a>
            </li>
        </ul>
    </nav>

    <div id="features" class="container-fluid bg-dark text-light section text-center">
        <h1>Tutubig</h1>
        <h4>
            is an IoT solution for aquafarms that monitors water quality  better than manual and traditional methods.
        </h4>
    </div>
    <div id="process" class="container-fluid bg-light section">
        <h1>What It Does</h1>
        <p>
            Lorem ipsum keme keme keme 48 years shongaers na ang antibiotic intonses na ang thunder at biway keme keme waz nang tanders tungril conalei nakakalurky lulu jowabella oblation ng boyband tamalis krang-krang na ang , at ganders bokot bella Cholo na nang shonga ang shogal daki borta shonga na at ang planggana sa shonget daki lorem ipsum keme keme kasi at nang bakit cheapangga intonses na ang ano at ang shonga at nang emena gushung krung-krung sa at nang katagalugan ang dites planggana katagalugan at ang kasi chopopo shonga shonget at nang daki na kasi kasi ng chopopo chopopo ang Cholo shonget at nang ma-kyonget kasi otoko mahogany guash paminta bigalou neuro at Cholo keme shontis at na chopopo nang ma-kyonget shogal klapeypey-klapeypey.
        </p>
    </div>
    <div id="team" class="container-fluid bg-dark text-light section">
        <h1>How It Works</h1>
        <p>
            Lorem ipsum keme keme keme 48 years shongaers na ang antibiotic intonses na ang thunder at biway keme keme waz nang tanders tungril conalei nakakalurky lulu jowabella oblation ng boyband tamalis krang-krang na ang , at ganders bokot bella Cholo na nang shonga ang shogal daki borta shonga na at ang planggana sa shonget daki lorem ipsum keme keme kasi at nang bakit cheapangga intonses na ang ano at ang shonga at nang emena gushung krung-krung sa at nang katagalugan ang dites planggana katagalugan at ang kasi chopopo shonga shonget at nang daki na kasi kasi ng chopopo chopopo ang Cholo shonget at nang ma-kyonget kasi otoko mahogany guash paminta bigalou neuro at Cholo keme shontis at na chopopo nang ma-kyonget shogal klapeypey-klapeypey.
        </p>
        <a class="btn btn-outline-light btn-lg" href="demo">View demo</a>
    </div>
    <div id="section4" class="container-fluid bg-light section">
        <h1>Who We Are</h1>
        <br/>
        <div class="container">
            <div class="row text-center">
                {% for member in members %}
                    <div class="col-sm">
                        <img src="{{ filelocation }}{{ member['filename'] }}" alt="{{ member['name'] }}" class="avatar">
                        <p>{{ member['name'] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}